<% provide(:title, 'Sign up') %>
<h1>Sign Up!</h1>
<%= form_for @user, :html => {:class => "form-inline", :role => "form"} do |form| %>
  <%= render 'user_form', :f => form %>
  <div>
    <%= form.submit "Create new account", :class => "btn btn-primary" %>
  </div>
  <div>
  <%= f.label :password %>
  <%= f.text_field :password %>
  </div>
  <div>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.text_field :password_confirmation %>
  </div>
  <div>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>
  <div>
  <%= f.submit "Create new account" %>
  </div>
<% end %>
