<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Game Contest Server", root_path, :class => "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li <% if current_page? users_path %><%= 'class=active'%><% end %>><%= link_to "List of Users", users_path %></li>
      <% if session[:logged] %>
        <li <% if current_page? user_path(session[:user]) %><%= 'class=active'%><% end %>><%= link_to "Profile", User.find_by_username(session[:user]) %></li>
        <li><%= link_to "Logout", session_path, :method => :delete %></li>
      <% else %>
        <li <% if current_page? signup_path %><%= 'class=active'%><% end %>><%= link_to "Sign Up", signup_path %></li>
        <li <% if current_page? login_path %><%= 'class=active'%><% end %>><%= link_to "Login", login_path %></li>        
      <% end %>
    </ul>
    <% if session[:logged] %>
      <p class="navbar-text navbar-right">Logged in as <%= session[:user] %></p>
    <% end %>
  </div>
</nav>